.social_icons {
  padding-top: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

    &.linkedin {
      color: #0072B1;
    }
    
    &.instagram {
      color: #d62976
    }
    
    &.facebook {
      color: #3b5998;
    }

    &:hover {
      background: linear-gradient(180deg, #0094D1 0%, rgba(0, 74, 145, 0.99) 100%);
      color: #fff !important;
    }
  }          
}