.contact_container {
  display: block;
  padding: 3rem;
  border: 1px solid rgb(33 36 37/1);
  border-radius: var(--border-radius);

  @media (width <= 537px) {
    padding: 1.5rem;
    margin-top: 3rem;
  }

  h3 {
    font-size: 30px;
    font-weight: 700;
  }
  
  p {
    font-size: 30px;
    font-weight: 100;
    color: #a6a6a6;
    line-height: 45px;
  }

  .notification_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    border: 1px solid #a6a6a6;
    border-radius: 10px;
    margin: 2rem 0;
    padding: 1rem;

    &.error {
      background-color: red;
      border: none;
    }
    
    &.success {
      background-color: #0094D1;
      border: none;
    }

    .main {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 1rem;
      
      .text {
        font-size: 16px;
        font-weight: normal;
        line-height: 20px;

        &.error, &.success {
          color: #fff;
        }
      }
    }
    
    .close_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: fit-content;
      height: 100%;
      cursor: pointer;
      transition: 0.3s all ease-in-out;
      
      @media (width <= 537px) {
        margin-left: 0.5rem;
      }
      
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .form_container {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 2rem 0;
    margin-top: 1rem;

    .margin {
      margin-bottom: 2.5rem;
    }

    .submit_btn {
      display: inline-flex;
      width: fit-content;
      height: fit-content;
      padding: 0rem;
      border: 2px solid #fff;
      border-radius: 15px;
      transition: 0.3s all ease-in-out;
      color: #fff;
      cursor: pointer;

      &.x_space {
        padding:0 0.6rem;
      }

      @media (width <= 537px) {
        width: 100%;
        text-align: center;
        padding: 0.3rem 0;
      }
      
      .btn_text {
        color: #fff;
        font-size: 16px;
        font-weight: 400;

        @media (width <= 537px) {
          font-size: 18px;
        }
        
        &.right_space {
          margin-right: 0.8rem;
          
        }

        &.x_space {
          padding: 0 1.5rem;
        }
      }

      &:hover {
        background-color: #fff;
        color: #000000;
      }

      &:hover > .btn_text {
        color: #000000;
      }
    }
  }
}